@use './variaveis.scss';

.hero {
    scroll-margin-top: 80px; // altura do header sticky
    position: relative;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__banner {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__overlay {
        position: absolute;
        inset: 0;
        background-color: variaveis.$color-overlay;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    &__title {
        font-family: variaveis.$font-title;
        font-size: 3.5rem;
        color: variaveis.$color-text;
        margin-bottom: 1rem;
        line-height: 1.2;
    }

    &__subtitle {
        font-size: 1.5rem;
        color: variaveis.$color-accent;
    }
}