@use './variaveis.scss';

.sinopse {
    &__carousel {
        position: relative;
        max-width: 800px;
        margin: 2rem auto 0 ;
        overflow: hidden;
        border-radius: 8px;
        padding-top: 12px;
    }

    &__slides {
        display: flex;
        transition: transform 0.6s ease;
    }

    &__slide {
        min-width: 100%;
        object-fit: cover;
    }

    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: variaveis.$color-accent;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        font-size: 2rem;
        border-radius: 50%;
        transition: background-color 0.3s ease;

    &:hover {
        background-color: rgba(0, 0, 0, 0.8);
    }

    &--left {
        left: 10px;
    }

    &--right {
        right: 10px;
    }
    }
}

.sinopse__slides {
    display: flex;
    transition: transform 0.5s linear;  
}